name: E2E

on:
  push:
    branches:
      - main
  pull_request_target:
    types: [labeled]

jobs:
  build:
    if: ${{ github.event_name != 'pull_request_target' || github.event.label.name == 'e2e:approve' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x # Run with latest stable Deno.
      - run: deno task test:e2e
        env:
          CLOUDFLARE_API_KEY: ${{secrets.CLOUDFLARE_API_KEY}}
          CLOUDFLARE_ZONE_ID: ${{secrets.CLOUDFLARE_ZONE_ID}}
